@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    --primary : #2c56fe;
    --secondary : #ffd230 ;
}


::-webkit-scrollbar {
    width: 0.2rem;
  }
  
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #4329A9;
  }
  

body{
    background-color: #3e286507;
}
/* nav  */

.spinner{
      display: none;
      position: fixed;
      left: 50%;
      top: 50%;
      width: 50px;
      height: 50px;
      border: 8px solid var(--secondary);
      border-top: 8px solid var(--primary);
      border-radius: 50%;
      animation: spin 1s linear infinite;
      margin: 10px auto;
      z-index: 10;
    }

    @keyframes spin {
      to { transform: rotate(360deg); }
    }

    #status, #status2, #status3{
      color: red;
      text-align: left;
      margin-bottom: 5px;
    }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    /* position: sticky; */
    top: 0;
    z-index: 9;
    /* background-color: #2c56fe; */
    /* box-shadow: 1px 1px 5px #2c56fe; */
    
}

nav img{
    width: 200px;
}
nav span{
    color: white;
}

.btn b, nav a, .democon a, .faq button, .formo button, .footbtn button, .democon button, .Lecturesinner button{
    background-color: var(--primary);
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 12px;
    border: transparent;
    cursor: pointer;
}

.btn2 button{
  background-color: red;
    padding: 18px 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 12px;
    border: transparent;
    cursor: pointer;
}

.form button, .formo button{
  width: 100%;
}

button{
    font-size: 16px;
}

nav a{
    padding: 12px 25px;
     /* background-color: white; */
    /* box-shadow: 1px 1px 5px #2c56fe; */
    /* color: var(--primary) !important;
    background-color: white; */
    /* background-color: black; */
}

/* header  */
header{
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #2c56fe35); */
    /* background: url('https://images.unsplash.com/photo-1509062522246-3755977927d7?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZWR1Y2F0aW9ufGVufDB8fDB8fHww'); */
    /* background: linear-gradient(to right, #161179 55%, #2c56fe96); */
    background: linear-gradient(to right, 
    var(--primary) 60%, #c4cff77d), 
    url('images/bgfull.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    /* background: linear-gradient(to bottom, #ffffff00, #2c56fe3b), url('images/bg.webp'); */
    /* box-shadow: 1px 1px 50px #2c56fe60; */
  }
  
  
  .google{
    width: 28px;
  }
  
  .innerheader{
  /* -webkit-filter: blur(9px); */
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    align-items: center;
    gap: 50px;
    padding-top: 20px;
    max-width: 1400px;
    overflow: hidden;
    position: relative;
}

.innerheader .form{
  max-width: 480px;
  background: linear-gradient(to bottom, white, white);
}

.sh{
    display: none;
}

header h1{
    font-size: 50px;
    color: white;
}

.headpoints{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  color: rgb(218, 218, 218);
  margin: 30px 0;
}

.headpoints p{
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 100;
}

.headpoints p img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 3px;
}

span{
    color: var(--primary);
}

header h4{
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
    color: white;
}

header ul{
    list-style-type: none;
    line-height: 40px;
    margin: 20px 0;
    font-size: 20px;
    margin-bottom: 50px;
}

header ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

header .imghead{
    /* position: relative; */
    bottom: 0px;
    
}

.bannerimg{
  width: 100%;
  transform: translateY(10px);
}

.imgheadsquare{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
}

.imgheadsquare .cardsimtext span{
  color: black;
  font-weight: 400;
  font-size: 18px;
}


.imgheadsquare span{
  font-size: 35px;
  font-weight: 700;
}

.imgheadsquare img{
  width: 40px;
  filter: grayscale(9px);
}


/* .imgheadsquare{
    position: absolute;
    background-color: white;
    left: -20px;
    bottom: -20px;
    transform: translate(-50%, -40%);
    padding: 20px;
    border-radius: 6px;
} */

/* .imgheadsquare p{
    color: rgb(92, 92, 92);
    font-weight: 500;
}

.imgheadsquare span{
    font-size: 25px;
    font-weight: 900;
}

.imgheadsquare img{
    width: 30px;
    height: 30px;
} */

.ratings{
  position: absolute;
  background-color: white;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  /* top: 50px; */
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: 500;
}

/* details */

.details{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    transform: translateY(50%);
}

.detailscard{
    background-color: rgba(255, 255, 255, 0.511);
    border-radius: 12px;
    padding: 20px;
    border: 1px solid rgba(92, 92, 92, 0.118);
}

.detailscard_inner{
    display: flex;
    align-items: center;
    gap: 20px;
}

.detailscard_inner p:nth-child(1){
    font-weight: 900;
    font-size: 20px;
}
.detailscard_inner p:nth-child(2){
    font-weight: 600;
    color: rgb(37, 37, 37);
    line-height: 25px;
}

.detailscard img{
    background-color: white;
    width: 80px;
    height: 70px;
    padding: 15px;
    border-radius: 6px;
}

/* demo */
.democon{
    width: 85%;
    max-width: 1400px;
    margin: auto;
    padding: 50px 0;
    margin-top: 100px;
}

.demoinner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.democon button{
    /* width: 100%; */
    margin-top: 10px;
}
 h4{
    font-size: 30px;
    color: rgb(60, 60, 60);
    /* line-height: 80px; */
    margin: 20px 0;
}
.exbtn{
  display: none;
}
.badge{
    background-color: #2c56fe25;
    width: fit-content;
    border-radius: 12px;
    padding: 10px 20px;
    color: var(--primary);
    text-align: center;
}

ul .check img{
    width: 20px;
}

ul li{
    display: flex;
    /* align-items: center; */
    gap: 10px;
    align-items: start;
    /* line-height: 40px; */
    margin-bottom: 20px;
}

.demoinner p{
    margin: 25px 0;
    margin-bottom: 45px;
    width: 80%;
    color: rgb(60, 60, 60);
}


/* /video player  */
   .video-thumbnail {
      position: relative;
      cursor: pointer;
    }
    
    .video-thumbnail img {
      width: 100%;
      border-radius: 10px;
      box-shadow: 1px 1px 5px rgb(65, 65, 65);
    }

    .video-thumbnail .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      /* color: white; */
      background: #fff;
      border-radius: 50%;
      padding: 20px;
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 1px 1px 5px black;
    }

    .play-button img{
      box-shadow: none;
    }

    .popup-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.8);
      justify-content: center;
      align-items: center;
      z-index: 9999;
    }

    .popup-content {
      position: relative;
      width: 90%;
      /* height: fit-content; */
      max-width: 1000px;
    }

    .popup-content iframe {
      width: 100%;
      height: 550px;
      border-radius: 8px;
    }

    .popup-close {
      position: relative;
      /* top: -20px; */
      /* right: -10px; */
      float: right;
      /* background: red; */
      color: white;
      border: none;
      border-radius: 50%;
      /* width: 30px;
      height: 30px; */
      font-size: 25px;
      cursor: pointer;
      background-color: transparent !important;
    }

/* certifiedcon */
.certifiedinner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 85%;
    max-width: 1400px;
    margin: auto;
    padding: 50px 0;
}

.certifiedinner img{
    border-radius: 12px;
    width: 100%;
}

/* ////Lectures */

.Lecturesinner{
  width: 85%;
  max-width: 1400px;
  margin: auto;
  padding: 50px 0;
}

.Lecturesgrid{
  /* display: flex; */
  /* justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 50px 0;
}

.Lecturesinner{
  text-align: center;
}

/* course  */
.course{
    width: 100%;
    padding: 50px 0;
    background: linear-gradient(to bottom,white, #2c56fe63);
    border-radius: 0 0 24px 24px;
}
.courseinner{
  max-width: 1400px;
    width: 85%;
    margin: auto;
    max-width: 1400px;
  }
  
  .course .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .course .row2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 90%;
    margin: 10px auto;
  }
  
  .course .row .col{
    background-color: white;
    border-radius: 12px;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.21);
    padding: 20px;
    margin-bottom: 5px;
    transition: .3s;
    border: 2px solid transparent;
  }
  .course .row .col:hover{
    border: 2px solid var(--primary);
  }
  
  .best{
    border: 5px solid var(--primary) !important;
  }
  
  .best .heading2{
    color: red;
  }
  
  .badge_success{
    background-color: #2c56fe2b;
    color: #00896e;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    width: fit-content;
    margin: auto;
    text-align: center;
  }
  .course p, li{
    color: gray;
  }
  .heading2{
    font-size: 18px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  
  .best .badge_success{
    margin-left: 10px;
  }
  
  .course .title{
    text-align: center;
  }
  
  .price{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .price img{
    width: 20px;
  }
  
  .price span{
    color: var(--primary);
    font-size: 17px;
  }
  
  .list_style li{
    list-style-type: none;
    line-height: 20px;
    margin-top: 10px;
    /* display: flex; */
    gap: 5px;
  }
  
  .checkpoints2{
    display: flex;
    /* align-items: center; */
    align-items: flex-start;
    gap: 10px;
    /* line-height: 30px; */
    font-size: 16px;
    color: rgb(67, 67, 67);
  }
  .checkpoints2 img{
    width: 15px;
    height: 15px;
    flex-shrink: 0;
  }
  
  .title h2{
    margin: 20px 0;
    font-size: 30px;
  }
  .title h2 span{
    color: var(--primary);
  }
  
  .title .badge_success{
    color: var(--primary);
    font-size: 16px;
  }

  .courselinkp{
    text-align: center;
    padding-top: 25px;
    color: black !important;
    font-size:20px;
  }

  .courselinkp a{
    color: red;

  }

  /* testimonial */

  .testimonials{
    padding: 80px 0;
  }

  .testimonialinner{
    padding: 50px 0;
    width: 85%;
    max-width: 1400px;
    margin: auto;
}

.testimonialinner .row{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
}

.testimonialinner .row2{
    width: 65%;
    margin: auto;
}

.testimonialinner .row .col{
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid rgba(128, 128, 128, 0.096);
}
.testimonialinner .row .col .para{
    font-size: 15px;
    margin: 20px 0;
    color: rgb(53, 53, 53);
    line-height: 30px;
}

.tprofile{
    display: flex;
    gap: 20px;
}

.tprofile img{
    border-radius: 12px;
    width: 70px;
    height: 70px;
}

.tprofile p:nth-child(1){
    font-weight: 600;
}
.tprofile p:nth-child(2){
    color: gray;
    margin-bottom: 5px;
}

.tprofile .badge{
    font-weight: 600;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 6px;
}


.testimonialinner .rating{
    display: flex;
    align-items: center;
    gap: 5px;
}
.testimonialinner .rating img:first-child{
    width: 20px;
}
.testimonialinner .rating img{
    width: 15px;
}

.testimonials .testh{
    width: 45%;
    margin: auto;
    /* text-align: center; */
    /* margin-top: 50px; */
    /* display: flex; */
    /* align-items: start; */
    /* margin-top: 0; */
    gap: 0px;
    text-align: center;
}

.heart{
  width: 40px;
  height: 40px;
  /* margin-top: 25px; */
  transform: translateY(10px);
}

  /* faq  */

  .faq{
      width: 85%;
      max-width: 1400px;
      margin: auto;
      padding-top: 50px;
  }

  .faqinner{
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 30px;
  }

  .item {
    border: 1px solid #cccccc49;
    /* border-radius: 6px; */
    /* margin-bottom: 10px; */
    overflow: hidden;
    width: 100%;
    /* margin: 20px auto; */
  }
  
  .showmore .title {
    background-color: #5e3aee08;
    padding: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
  }
  
  .content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    background: #fafafa;
    transition: max-height 0.5s ease, padding 0.3s ease;
  }
  
  .item.active .content {
    max-height: 500px; /* or large enough to fit the content */
    padding: 15px;
  }
  
  .item.active .title{
    color: #3e2865;
  }

  .form, .formo{
    border: 1px solid #5e3aee30;
    padding: 20px;
    border-radius: 6px;
    background: linear-gradient(to bottom, white, #2c56fe32);
    text-align: center;
  }

  .form form input, .formo input, .form form select, .formo select{
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #5e3aee29;
  }

  .faq button{
    font-size: 18px;
  }

  /* innerfeatures */
  .features{
    width: 85%;
    max-width: 1400px;
    margin: auto;
  }
  
  .innerfeatures{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
    align-items: center;
    padding: 100px 0;
  }

  .div2_1:first-child{
      display: grid;
      grid-template-columns: repeat(2, 250px);
      /* display: flex; */
      gap: 20px;
      justify-content: center;
      /* justify-content: space-evenly; */
    }
    .div2_1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: center;
}

  .square{
    background-color: #2c56fe0e;
    height: 200px;
    /* min-width: 250px; */
    margin-top: 20px;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    font-weight: 600;
    border: 1px solid #5e3aee11;
  }

  .square p{
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  
  .square p span{
    color: rgb(46, 46, 46);
    line-height: 25px;
  }

  .square_sub{
    background-color: white;
    width: 80px;
    height: 80px;
    padding: 20px;
    border-radius: 6px;
    margin: auto;
    margin-bottom: 15px;
  }
  .square_sub img{
    width: 100%;
  }

  .features button{
      border: 1px solid var(--primary);
      background-color: transparent;
      padding: 15px 40px;
      font-size: 18px;
      border-radius: 6px;
      margin-top: 20px;
      color: var(--primary);
      font-weight: 600;
      transition: .3s;
      cursor: pointer;
    }

    .features button:hover{
        background-color: var(--primary);
        color: white;
    }

  .features p{
    line-height: 30px;
    color: rgb(60, 60, 60);
  }
  /* extra  */

  .extra{
    width: 85%;
    max-width: 1400px;
    margin: 50px auto;
    /* padding: 100px 0px; */
    /* padding-top: 100px; */
  }
  
  .extra h1{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .extra h1 img{
    width: 25px;
  }
  
  .extrainner{
    background-color: var(--primary);
    width: 100%;
    text-align: center;
    border-radius: 12px;
    margin: 20px auto;
    padding: 50px 20px;
  }

  .extra h4 span{
      color: white;
    }
    .extra button{
    background-color: red;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 12px;
    border: transparent;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
}
    .extra h4:nth-child(2){
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .extralink{
      color: white;
      margin-top: 20px;
    }

    .extralink a{
      color: white;
    }
  
    .alertcon{
      margin: 80px 0;
    }
    
    .alertinner{
      padding: 50px 5px;
      text-align: center;
      width: 98%;
      max-width: 1400px;
      margin: auto;
      border-radius: 12px;
      background:linear-gradient(to right, #2c56fe, #ffd230);
    }

    .alertcon button{
      background-color: var(--primary);
      padding: 15px 20px;
      color: white;
      border-radius: 6px;
      border: transparent;
      box-shadow: 1px 1px 5px gray;
      font-weight: 500;
      margin-top: 10px;
      cursor: pointer;
      transition: .3s;
    }
    .alertcon button:hover{
      transform: translateY(2px);
    }

    .alertinner p:nth-child(1){
      font-size: 35px;
      font-weight: 900;
    }
    .alertinner p:nth-child(2){
      margin: 10px 0;
      font-weight: 600;
      font-size: 20px;
    }

    .alertinner p:nth-child(1) span{
      background-color: white;
      padding: 2px 5px;
      border-radius: 6px;
    }

    .alertinner p:nth-child(2) span{
      color: red;
    }

  /* footer  */


  .innerfooter{
    width: 85%;
    max-width: 1400px;
    margin: auto;
}

footer .footer1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0;
  }

  .footer1 .logof{
    width: 200px;
  }

  .social{
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }

  .social div{
      background-color: #6d6d6db4;
      width: 40px;
      height: 40px;
      border-radius: 6px;
      transition: .5s;
    }
    
    .social div:hover{
        background-color: var(--primary);
    }
    
    .social div img{
        width: 60%;
        height: 60%;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
  }

  .footer2{
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid rgba(128, 128, 128, 0.189);
    color: gray;
  }

  .footer1 p{
    text-transform: uppercase;
    color: gray;
  }
  .footer1 a, .footer1 address{
    color: gray;
    text-decoration: none;
  }

  .wa{
    position: fixed;
    right: 30px;
    bottom: 30px;
  }

  .wa img, .footbtn img{
    width: 50px;
    filter: drop-shadow(1px 1px 5px gray);
  }

  .footbtn{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    /* margin: auto; */
    display: flex;
    align-items: center;
    gap: 20px;
    display: none;
  }

  .footbtn button{
    width: 100%;
  }

  .formo{
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    z-index: 9;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 5px #5e3aee56;
    border-radius: 12px;
    display: none;
  }

  .formo h4{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
  }

  .formo h4 img{
    width: 20px;
    cursor: pointer;
  }


  .layer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.762);
    z-index: 8;
    filter: blur(99px);
    display: none;
  }

  .thankscon{
    background:linear-gradient(to bottom, white, #2c56fe65);
    padding:50px 0px;
  }
  
  .thanksinner{
    width: 50%;
    margin:100px auto;
    text-align: center;
  }

  .btnthanks{
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .btnthanks a{
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin: 10px 0;
    box-shadow: 1px 1px 5px gray;
  }
  
  .btnthanks a:nth-child(1){
    background-color: var(--primary);
  }

  .btnthanks a:nth-child(2){
    background-color: var(--secondary);
  }

  .thankscon p{
    line-height: 28px;
  }

  .thankscon .links{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
  }
  .thankscon .links a{
    color: black;
    text-decoration: none;  
  }

  .thankscon .url a{
    color: var(--primary);
  }

  .feturebtnex{
    display: none;
  }

@media only screen and (max-width:1100px) {
    .innerheader{
        width: 85%;
    }
    
    .details{
        width: 90%;
        gap: 10px;
    }
    
    .courseinner{
        width: 85%;
    }
    
    .course .row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
      }

      .course .row2{
        width: 100%;
      }

      .faq{
        width: 85%;
      }

      .features{
        width: 85%;
      }

      .testimonialinner{
          width: 85%;
        }

        .testimonials .testh{
          width: 90%;
        }

        .innerheader h1{
    font-size: 40px;
    font-weight: 700;
}
}

@media only screen and (max-width:950px) {
  nav{
    background-color: var(--primary);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.212);
  }
  nav a{
    border: 2px solid white;
  }
  header{
    background: linear-gradient(to bottom, var(--primary) 60%, #9cb0ffc0), url('images/bgfull.avif');
  }
    .innerheader{
        width: 85%;
        flex-direction: column;
        padding-top: 50px;   
        gap: 50px;    
    }

    .innerheader .imghead{
        width: 100%;
        margin: auto;
        /* height: 600px; */
    }
    /* .innerheader .imghead img{
        width: 100%;
        height: 100%;
        float: right;
        text-align: right;
        object-fit: contain;
    } */

    .details{
        width: 85%;
        margin: 30px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        transform: translateY(0%);
        padding: 30px 0;
    }
    
    .democon{
        margin-top: 0px;
    }
    
    .demoinner{
        grid-template-columns: repeat(1, 1fr);
        
    }

    .demoinner .demoimg img{
        width: 100%;
        height: 100%;
        /* object-fit: cover; */
        border-radius: 12px;
    }
    
    .certifiedinner{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .faqinner{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .innerfeatures{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .square{
        width: 100%;
    }
    
    .testimonialinner .row{
        flex-direction: column;
    }
    .testimonialinner .row2{
        flex-direction: column;
        width: 100%;
    }
    
    /* .testimonials h4{
        width: 95%;
        margin: auto;
        text-align: center;
        margin-top: 20px;
    } */
    
    .extra{
        width: 95%;
    }

    footer .footer1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 0;
    }
    
    .detailscard_inner{
        flex-direction: column;
        text-align: center;
    }

    header h1{
        font-size: 35px;
    }
    
    header h4{
        font-size: 25px;
        line-height: 50px;
        font-weight: 600;
    }

    
    /* .imghead{
      position: static;
    } */

    /* .imgheadsquare{
        position: absolute;
        background-color: white;
        left: 0px;
        bottom: 5px;
        transform: translate(50%, 0%);
        padding: 30px 20px;
        width: fit-content;
        border-radius: 6px;
    } */


    .btn button{
        width: 100%;
    }


    .sh{
        display: block;
        width: 85%;
        margin: auto;
        margin-top: 10px;
    }
    .sh button{
        width: 100%;
    }

    .btn{
        display: none;
    }

    .thanksinner{
    width: 95%;
    margin:100px auto;
  }

  .Lecturesgrid{
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.demotext #showf{
  display: none;
}

.exbtn{
  display: block;
  width: 100%;
}

.ratings img{
  /* width: 18px !important; */
  /* height: 50px; */
}

.ratings{
  left: 0;
}
.feturebtn{
  display: none;
}
.feturebtnex{
  display: block;
}

}



@media only screen and (max-width:800px){
  .extra h4 span{
      display: flex;
      flex-direction: column;
    }
}
@media only screen and (max-width:700px){
    .course .row{
        grid-template-columns: repeat(1, 1fr);
    }
    
    footer .footer1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 0;
        gap: 50px;
    }

    nav{
        padding: 10px 10px;
        /* background-color: white; */
    }

    nav a{
        padding: 10px 20px;
        /* border: 1px solid white; */
    }

    nav a span{
        display: none;
    }

    nav img{
        width: 180px;
    }

    .wa{
        display: none;
    }

    .footbtn{
        display: flex;
    }

    

    .democon{
        padding: 20px 0;
    }
    .democon button{
        width: 100%;
    }
    
    .certifiedinner{
        padding: 10px 0;
    }

    .extra{
        text-align: left;
    }

    .footer2{
        margin-bottom: 80px;
    }

    .popup-content {
      position: relative;
      width: 95%;
      max-width: 1000px;
    }

    .popup-content iframe {
      width: 100%;
      height: 300px;
      border-radius: 8px;
    }
}


@media only screen and (max-width:600px){


    .innerheader{
        gap: 50px;
    }

    .div2_1:first-child{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* display: flex; */
        gap: 10px;
        justify-content: center;
        /* justify-content: space-evenly; */
      }
      .div2_1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
          gap: 10px;
          justify-content: center;
          justify-content: center;
  }   

  .squarefull{
    grid-column: 1 / 3; /* spans both columns */
  }

  .square_sub{
    background-color: white;
    /* width: fit-content; */
    padding: 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    margin: auto;
    margin-bottom: 5px;
  }

  .square{
    height: auto;
    margin-top: 5px;
  }

  .square_sub img{
    width: 35px;
  }

  .innerheader h1{
    font-size: 35px;
}

h4{
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
  }
  .innerheader h4{
    font-size: 20px;
    line-height: 30px;
  font-weight: 400;
}
header ul{
    list-style-type: none;
    line-height: 30px;
    margin: 20px 0;
    font-size: 16px;
    margin-bottom: 50px;
}

.innerheader,.details,.democon,.certifiedinner, .courseinner, .faq,.features,.testimonialinner, .innerfooter, .Lecturesinner{
    width: 95%;
}

.sh{
    display: block;
    width: 95%;
    margin: auto;
    margin-top: 10px;
}

.innerheader .imghead{
    width: 100%;
    /* margin: auto; */
    height: auto;
}

.formo{
    width: 95%;
    display: none;
  }

  .extra h4:nth-child(2){
    font-size: 15px;
}
  
.thanksinner{
    margin:50px auto;
  }

  .testimonials .testh{
    width: 95%;
  }

  .alertinner p:nth-child(1){
      font-size: 25px;
      font-weight: 900;
    }
    .alertinner p:nth-child(2){
      margin: 10px 0;
      font-weight: 600;
      font-size: 18px;
    }

    /* .imgheadsquare{
        background-color: white;
        left: 200px;
        transform: translate(0%, 0%);
        padding: 20px 20px;
        width: fit-content;
        border-radius: 6px;
    } */

    .innerheader button{
      width: 100%;
    }

}


@media only screen and (max-width:500px){
  .square{
    padding:15px 2px;
    font-size: 13px;
  } 

  .courselinkp{
    display: flex;
    flex-direction: column;
  }

  .alertinner{
      padding: 30px 5px;
    }

    .extrainner{
      padding: 30px 5px;
    }

    .extralink{
      font-size: 15px;
    }

    .links{
      display: flex;
      flex-direction: column;
    }

    .btnthanks a{
    padding: 10px;
  }
/* 
  .badge{
    padding: 8px 15px;
} */

.imgheadsquare{
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
}


.imgheadsquare span{
  font-size: 20px;
}

.imgheadsquare img{
  width: 20px;
}

.imgheadsquare .cardsimtext{
  display: flex;
  flex-direction: column;
}

.innerheader h1{
    font-size: 30px;
}

}

@media only screen and (max-width:300px){
  .ratings{
  top: 20px;
  z-index: 1;
}
}